$primary_orange: #fd746c;
$primary_background: #171e27;
$secondary_background: #141618;
$secondary_green: #59cd90;

$atom_nav: #21252b;
$atom_background: #282c34;
$atom_nav_shadow: inset 0 -1px 0 #181a1f;

$deep_orange: #a43931;
$deep_blue: #1d4350;
